.filter__container {
  padding: 18px;
  border: 1px solid #EAEBED;
  border-radius: 12px;
  min-width: 315px;
  background-color: #FFFFFF;
}
.filter__title_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.filter__industry_wrapper {
  margin-top: 32px;
}
.filter__industry_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 8px;
}
.filter__salary_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.filter__salary_wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 8px 0;
  margin: 20px 0 0 0;
}
.filter__button {
  margin: 20px 0 0 0;
}