.filter__container {
  padding: 20px;
  border: 1px solid #eaebed;
  border-radius: 12px;
  height: 360px;
  min-width: 315px;
  background-color: #ffffff;
}
.filter__title_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}
.filter__industry_wrapper {
  margin-top: 32px;
}
.filter__group {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #acadb9;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  gap: 0 4px;
}
.filter__group_text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
}
.filter__industry_title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 8px;
}
.filter__salary_title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.filter__salary_wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 8px 0;
  margin: 20px 0 0 0;
}
.filter__button {
  margin: 20px 0 0 0;
}
